 {% extends 'portal/base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block content %}
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>General Elements</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row column4 graph">

                        <!-- tab style  -->
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Exam and Test Booking</h2>
                                 </div>
                              </div>

                               <div class="full inner_elements">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="tab_style2">
                                          <div class="tabbar padding_infor_info">
                                             <nav>
                                                 {% for message in messages %}
                                                     <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                         <h2>{{ message }}</h2>
                                                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                         </button>
                                                     </div>

                                                 {% endfor %}
                                                <div class="nav nav-tabs center aligned border-1" id="nav-tab1" role="tablist">
                                                   <a class="nav-item nav-link active" id="nav-home-tab2" data-toggle="tab" href="#nav-home_s2" role="tab" aria-controls="nav-home_s2" aria-selected="true">Exams</a>
                                                   <a class="nav-item nav-link " id="nav-profile-tab2" data-toggle="tab" href="#nav-profile_s2" role="tab" aria-controls="nav-profile_s2" aria-selected="false">Tests</a>
                                                </div>
                                             </nav>
                                             <div class="tab-content" id="nav-tabContent_2">
                                                <div class="tab-pane fade show active" id="nav-home_s2" role="tabpanel" aria-labelledby="nav-home-tab">
                                                        <h1>Book for your exam  here</h1>
                                                        <form method='post' action="{% url 'book-exam-url' %}">
                                                            {% csrf_token %}
                                                            <div class="row g-3">
                                                                <div class="col-md-6">
                                                                    <div class="form-floating">
                                                                        <input name="exam" class="form-control border-0 bg-light" id="exam-name" placeholder="Exam Name" aria-label="Exam name" type="text">
                                                                        <label for="exam-name">Exam Name</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-floating">
                                                                        <input name="exam-date" class="form-control border-0 bg-light" id="exam-date" placeholder="Date for Exam" aria-label="Date for Exam" type="date">
                                                                        <label for="exam-date">Exam date</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-floating">
                                                                        <input name="exam-time" class="form-control border-0 bg-light" id="exam-time" placeholder="Time for exam" aria-label="Time for exam" type="time">
                                                                        <label for="exam-time">Exam Time</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-floating">
                                                                        <input name="exam-venue" class="form-control border-0 bg-light" id="exam-venue" placeholder="Venue for exam" aria-label="Venue for exam" type="text">
                                                                        <label for="exam-venue">Exam Venue</label>
                                                                    </div>
                                                                </div>
                                                            <div class="col-12 center aligned">
                                                                <button class="btn btn-primary py-3 px-5 align-self-center" type="submit">Book</button>
                                                            </div>
                                                            </div>
                                                        </form>
                                                </div>

                                                <div class="tab-pane fade" id="nav-profile_s2" role="tabpanel" aria-labelledby="nav-profile-tab">
                                                        <h1>Book for your Mock Test  here</h1>
                                                        <form method='POST' class="bg-body" action="{% url 'book-test-url' %}">
                                                            {% csrf_token %}
                                                            <div class="row g-3">
                                                            <div class="col-md-6">
                                                                <div class="form-floating">
                                                                    <input name="test-name" class="form-control border-0 bg-light" id="test-name" placeholder="Exam Name" aria-label="Exam name" type="text">
                                                                    <label for="test-name">Test Name</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating">
                                                                    <input name="test-date" class="form-control border-0 bg-light" id="test-date" placeholder="Date for Exam" aria-label="Date for Exam" type="date">
                                                                    <label for="test-date">Test Date</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating">
                                                                    <input name="test-time" class="form-control border-0 bg-light" id="test-time" placeholder="Time for exam" aria-label="Time for exam" type="time">
                                                                    <label for="test-time">Test Time</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating">
                                                                <input name="test-venue" class="form-control border-0 bg-light" id="test-venue" placeholder="Venue for exam" aria-label="Venue for exam" type="text">
                                                                    <label for="test-venue">Test Venue</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 center aligned">
                                                                <button class="btn btn-primary py-3 px-5 center w-50" type="submit">Book Test</button>
                                                            </div>
                                                            </div>
                                                        </form>
                                                </div>

                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
               <!-- end dashboard inner -->
         <!-- model popup -->
         <!-- The Modal -->
         <div class="modal fade" id="myModal">
            <div class="modal-dialog">
               <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                     <h4 class="modal-title">Modal Heading</h4>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                     Modal body..
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- end model popup -->
{% endblock %}