{% extends 'portal/base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block content %}
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Profile</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row column1">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>User profile</h2>
                                 </div>
                              </div>
                              <div class="full price_table padding_infor_info">
                                 <div class="row">
                                    <!-- user profile section --> 
                                    <!-- profile image -->
                                    <div class="col-lg-12">
                                       <div class="full dis_flex center_text">
                                           {% if submitted %}
                                              Congratulations! Your profile was successfully Updated.
                                           {% else %}

                                           <form action="{% url 'profile' %}" method="post">
                                               {% csrf_token %}
                                               <div class="col-md-10 mb-2 d-flex flex-row justify-content-end">
                                                   <div class="form-check text-start ms-2">

                                               {{ form.as_p }}
                                                   </div>
                                               </div>

                                               <button class="btn btn-secondary">Save</button>

                                           </form>
                                           {% endif %}
                                       </div>
                                    </div>
                                       <!-- end user profile section -->
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end row -->
                     </div>
                  </div>
               </div>
{% endblock %}