{% extends 'portal/base.html' %}
{% load static %}
{% block title %}
Media Gallery
{% endblock %}
{% block content %}
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Media Gallery</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row column4 graph">
                        <!-- Gallery section -->
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Our Media Gallery</h2>
                                 </div>
                              </div>
                              <div class="full gallery_section_inner padding_infor_info">
                                 <div class="row">
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/cs.jpeg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/cb front.jpeg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/cx automatic.jpeg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/highway juctions red.jpg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/highway.gif' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/director-2.jpg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/carousel-1.jpg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/backg.jpeg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/carousel-3.jpg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/cs.jpeg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/director.jpg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/urban.jpg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/sebasitian.jpg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/magare.jpg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/manager.jpeg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/peter.jpg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/background.jpeg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/cb front.jpeg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/carousel-4.jpg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/carousel-3.jpg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/about-3.jpg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/expert_logo-removebg-preview (1).png' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/highway aerial red.jpg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3 margin_bottom_30">
                                       <div class="column">
                                          <a data-fancybox="gallery" href=""><img class="img-responsive" src="{% static 'expt/img/higway red.jpg' %}" alt="#" /></a>
                                       </div>
                                       <div class="heading_section">
                                          <h4>Sed ut perspiciatis</h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- footer -->
                  </div>
                  <!-- end dashboard inner -->
               </div>
    <!-- model popup -->
            <!-- The Modal -->
            <div class="modal fade" id="myModal">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <!-- Modal Header -->
                     <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                     </div>
                     <!-- Modal body -->
                     <div class="modal-body">
                        Modal body..
                     </div>
                     <!-- Modal footer -->
                     <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end model popup -->
{% endblock %}