{% extends 'portal/base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}
{% block login %}

<body class="inner_page login">
<div class="container padding_top_20">
    <div class="row column">
        <div class="card bg-light text-white col-md-6">
            <img src="{% static 'expt/img/cs.jpeg' %}" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h1 class="card-title fw-bold text-center text-wrap orange_color">We Teach Skills, You Drive</h1>
            </div>
        </div>
        <div class="col-md-6 card-img d-flex flex-column justify-content-center align-content-center">
            <div class="container w-75">
            <div class="row d-flex flex-column row-gutter d-flex justify-content-center flex-column">
                <div class="col-md-12 text-center">
                    <img style="width: 70%;" src="{% static 'expt/img/expert_logo-nobg.png' %}" class="logo" alt="">
                    <h1 class="fw-bold text-primary">Hi, welcome back</h1>
                    <p class="text-center h4">Please fill in your details to log in</p>
                </div>
            </div>
            <div class="card shadow reg-card">
                <div class="card-body dw-th">
                    <form action="{% url 'login_user-url' %}" method="post">
                        {% csrf_token %}
                            <div class="mb-2">
                                <p class="fw-bold">Username </p>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Student No/ Employee No" data-val="true" data-val-required="The Username field is required." name="Username" value="">
                                <span class="text-danger field-validation-valid" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                            </div>
                            <label class="form-label fw-bold">Password</label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Enter your Password" id="password" aria-label="Recipient's username" aria-describedby="togglePassword" style="border-right:none !important" data-val="true" data-val-required="The Password field is required." name="Password">
                                <span class="input-group-text togglePassword" id="togglePassword">
                                    <i class="ri-eye-off-line" style="cursor: pointer"></i>
                                </span>
                            </div>
                            <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            <div class="mb-2 d-flex flex-row justify-content-between">
                                <div class="checkbox text-start mn-2">
                                    <input type="checkbox" data-val="true" data-val-required="The RememberMe field is required." id="RememberMe" name="RememberMe" value="true">
                                    <label class="text-black small">Remember me</label>
                                </div>
                                <a class="text-decoration-none" href="/Account/ForgotPassword">
                                <span class="text-danger">Forgot Password?</span></a>
                            </div>
                            <button class="btn btn-secondary w-100 orange_bg border-0" type="submit">Sign In</button>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8OvD65nM8nBLq68IkiIJlOm2HHyNypblXsW7YJibAGpiiasvroQLkJzJt0p4i5lkcElzHUF1MHrDxPO6Wt48kcLgmK8-RKyHSSfrdWNVCf9Ar3TfXz2VFkGbzf1JT1XQUrlx3JGkMTjipwCg8rr9HvgaCMVCvl_JH57-bboUytPphzuzuEl1_9t2r6nmJsbsvQ" /><input name="RememberMe" type="hidden" value="false"></form>
                </div>
            </div>
            <p class="mt-4 text-center text-decoration-none smaller">
                Don’t have an account ?<a class="text-decoration-none" href="{% url 'register_user-url' %}"><span class="text-danger fw-bold" style="text-decoration:none"> Sign Up</span></a>
                <br><br><span class="text-dark">
                    Copyright &copy;
                    <script type="text/javascript">document.write(new Date().getFullYear());</script>-Expert Yomo Driving School
                </span>
            </p>
        </div>
        </div>
    </div>
</div>
{% endblock %}
