 {% extends 'portal/base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block content %}
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Charts and notifications</h2>
                           </div>
                        </div>
                     </div>
                            <div class="card text-center fw-bold display-4 text-white">
                          <div class="card-header  orange_bg2">
                            Featured
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Messaging section</h5>
                            <p class="card-text">OOPS!!!!! this section is under Development. It will be available soon for use.</p>
                            <a href="#" class="btn btn-primary disabled">Send</a>
                          </div>
                          <div class="card-footer text-muted">
                            2 days ago
                          </div>
                        </div>
                     </div>
                     <!-- end row -->
                  </div>
               </div>
{% endblock %}