 {% extends 'portal/base.html' %}
{% load static %}
{% block title %}
Receipts
{% endblock %}
{% block content %}
<!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Receipts </h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row">
                        <!-- invoice section -->
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2><i class="fa fa-file-text-o"></i> Invoice</h2>
                                 </div>
                              </div>
                              <div class="full">
                                 <div class="invoice_inner">
                                    <div class="row">
                                       <div class="col-md-4">
                                          <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                             <h4>From</h4>
                                             <p><strong>{{ user.username}}</strong><br>
                                                <strong>Phone : </strong><a href="tel:{{ user.phone }}">{{ user.phone}}</a><br>
                                                <strong>Email : </strong><a href="mailto:{{ user.email}}">{{ user.email }}</a>
                                             </p>
                                          </div>
                                       </div>
                                       <div class="col-md-4">
                                          <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                             <h4>To</h4>
                                             <p><strong>Expert Yomo Driving school</strong><br>
                                                 <strong>Phone : </strong><a href="{{ user.phone }}">user.phone</a><br>
                                                <strong>Email : </strong><a href="mailto:{{ user.email }}">user.email</a>
                                             </p>
                                          </div>
                                       </div>
                                       <div class="col-md-4">
                                          <div class="full invoice_blog padding_infor_info padding-bottom_0">
                                             <h4>{{ statement.id }} </h4>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="full padding_infor_info">
                                 <div class="table_row">
                                    <div class="table-responsive">
                                       <table class="table table-striped">
                                          <thead>
                                             <tr>

                                             </tr>
                                          </thead>
                                          <tbody>

                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row">
                        <div class="col-md-6">
                           <div class="full white_shd">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Payment Methods</h2>
                                 </div>
                              </div>
                              <div class="full padding_infor_info">
                                 <div class="payment_option">
                                    <img src="{% static ' portss/images/layout_img/mpesa.jpg' %}" alt="#" />
                                 </div>
                                 <p class="note_cont">If you use this site regularly and would like to help keep the site on the Internet.</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="full white_shd">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Total Amount</h2>
                                 </div>
                              </div>
                              <div class="full padding_infor_info">
                                 <div class="price_table">
                                    <div class="table-responsive">
                                       <table class="table">
                                          <tbody>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
         <!-- end model popup -->
{% endblock %}