{% extends 'portal/base.html' %}
{% load static %}
{% block title %}
Settings
{% endblock %}
{% block content %}
<!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Settings</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row column4">
                        <div class="col-md-5 position-absolute top right attached">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head align-self-center justify-content-center">
                                 <div class="heading1 margin_0 ">
                                     <div class="card orange_bg" >
                                          <div class="card-body">
                                            <h5 class="card-title h3 text-white text-center">Settings</h5>
                                              <hr style="height: 5px; background-color: #fff">
                                              <h2  class="card-text text-white h3">OOPS!!!!!,<br><br> Hi, this section is under development. It will soon be open for usage</h2>
                                          </div>
                                        </div>
                                 </div>
                              </div>

                           </div>
                        </div>
                     </div>
                     <!-- end row -->    
                  </div>
               </div>
{% endblock %}