{% extends 'portal/base.html' %}
{% load static %}
{% block title %}
Settings
{% endblock %}
{% block content %}
<!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Settings</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row column4 graph">
                        <div class="col-md-5 tra">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                     <div class="card orange_bg" >
                                          <div class="card-body">
                                            <h5 class="card-title">Settings</h5>
                                              <h2  class="card-text">OOPS!!!!!, Hi, this section is under development. It will soon be open for usage</h2>

                                          </div>
                                        </div>
                                 </div>
                              </div>

                           </div>
                        </div>
                     </div>
                     <!-- end row -->    
                  </div>
               </div>
{% endblock %}