{% extends 'portal/base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block content %}
<!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Fee Statement</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row column1">
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Payments</h2>
                                 </div>
                              </div>
                              <div class="full price_table padding_infor_info">
                                 <div class="row">
                                    <div class="col-lg-12">
                                       <div class="table-responsive-sm">
                                          <table class="table table-striped projects">
                                             <thead class="thead-dark">
                                                <tr>
                                                   <th style="width: 2%">No</th>
                                                   <th>Date</th>
                                                   <th>Ref</th>
                                                   <th>Description</th>
                                                   <th>Debit (Ksh)</th>
                                                   <th>Credit (Ksh)</th>
                                                   <th>Balance (Ksh)</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                             {% for statement in fee_statement %}
                                                <tr>
                                                   <td>{{ forloop.counter }}</td>
                                                   <td>{{ statement.date }}</td>
                                                   <td>{{ statement.ref }}</td>
                                                   <td >{{ statement.description }}</td>
                                                   <td>{{ statement.debit }}</td>
                                                   <td>{{ statement.credit }}</td>
                                                   <td>{{ statement.balance }}</td>
                                                </tr>
                                             {% endfor %}
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end row -->
                     </div>
                  </div>
               </div>
                  <!-- end dashboard inner -->
{% endblock %}