{% extends 'expt/base.html' %}
|{% load static %}
{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Courses</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'contact' %}">Contact Us</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Courses</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Courses Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase mb-2">Trending Courses</h6>
                <h1 class="display-6 mb-4">Our Courses Upskill You With Driving Training</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <h5 class="mb-3">All Vehicle Categories</h5>
                            <p>At Expert Yomo Driving School, we take pride in offering a comprehensive range of vehicle categories to meet the diverse needs of our students. Our specialized courses cover various types of vehicles, ensuring that each learner receives tailored education for their specific driving goals. Explore the full spectrum of vehicle categories available at our school:</p>

                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Beginner</li>
                                <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>One Month</li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="{% static 'img/cb front.jpeg' %}" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" data-toggle="collapse" href="#class_b" role="button" aria-expanded="false" aria-controls="collapseExample">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <h5 class="mb-3">Highway Driving Lesson</h5>
                            <p>Welcome to Expert Yomo Driving School's Highway Driving Lesson! Our specialized highway driving course is designed to equip you with the skills and confidence needed to navigate highways safely and efficiently. Here's what you can expect from this comprehensive lesson</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Beginner</li>
                                <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>One Month</li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="{% static 'img/highway.gif' %}" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" data-toggle="collapse" href="#highway" role="button" aria-expanded="false" aria-controls="collapseExample">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <h5 class="mb-3">International Driving <br><span class="text-danger">COMING SOON</span></h5>
                            <p>Welcome to Expert Yomo, where we empower your global mobility with comprehensive information on International Driving. Whether you're a seasoned traveler, an expatriate, or simply planning an international road trip, we provide valuable insights into obtaining and using International Driving Permits (IDPs).</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Beginner</li>
                                <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>One Month</li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="{% static 'img/cs side.jpeg' %}" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" data-toggle="collapse" href="#idp" role="button" aria-expanded="false" aria-controls="collapseExample">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="collapse" id="class_b">
                 <div class="container-fluid">
                   <p>At Expert Yomo Driving School, we take pride in offering a comprehensive range of vehicle categories to meet the diverse needs of our students. Our specialized courses cover various types of vehicles, ensuring that each learner receives tailored education for their specific driving goals. Explore the full spectrum of vehicle categories available at our school:</p>
                   <h3>1. Passenger Cars:</h3>
                   <p> Standard and automatic transmission lessons for everyday driving.</p>
                   <h3>2. Motorcycles:</h3>
                   <p>Learn the essentials of motorcycle riding with safety as a top priority.</p>
                   <h3>3. Light Commercial Vehicles:</h3>
                    <p>Gain proficiency in handling small vans and trucks for commercial purposes.</p>
                    <h3>4. Heavy Commercial Vehicles:</h3>
                    <p>Master the skills required for driving larger trucks and buses.</p>
                    <h3>5. Public Service Vehicles (PSV):</h3>
                    <p>Specialized training for those interested in operating public transportation vehicles.</p>
                    <h3>6. Off-Road Vehicles:</h3>
                    <p>Explore the techniques necessary for driving off-road vehicles in various terrains.</p>
                    <h3>7. Defensive Driving Courses:</h3>
                    <p>Enhance your driving skills with defensive driving courses tailored for different vehicle categories.</p>
                    <h3>8. Advanced Driving Courses:</h3>
                    <p>Elevate your driving expertise with advanced courses, focusing on precision and control.</p>
                    <h3>9. International Driving Permit (IDP) Assistance:</h3>
                    <p>Guidance and support for obtaining an International Driving Permit for global travel.</p>
                    <h4>At Expert Yomo Driving School, our commitment goes beyond just teaching people how to drive; we empower individuals to become confident, responsible, and skilled drivers across a broad spectrum of vehicles. Join us to embark on a learning journey that suits your unique driving aspirations. Whatever your driving goals may be, we have the right course for you. Your road to mastery starts here!</h4>
                 </div>
                 <div class="card card-body">
                     <div class="table-responsive-sm">
                          <table class="table table-striped table-dark table-bordered table-hover">
                              <caption>Vehicle class categories</caption>
                            <thead class="bg-light">
                                <tr>
                                  <th scope="col" class="bg-primary text-dark" >Category </th>
                                  <th scope="col" class="bg-primary text-dark">Characteristics</th>
                                  <th scope="col" class="bg-primary text-dark">Maximum age</th>
                                  <th scope="col" class="bg-primary text-dark">Minimum age</th>
                                  <th scope="col" class="bg-primary text-dark">Passengers allowed</th>
                                  <th scope="col" class="bg-primary text-dark">Requirements</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">Category A1 (Moped)</th>
                                  <td>Up to and including 50 C.C</td>
                                  <td></td>
                                  <td>16 years</td>
                                  <td>No passengers</td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <th scope="row">Category A2 (Light Motorcycle)</th>
                                  <td>Above 50 C.C.</td>
                                  <td>60 kg (for up to 400 C.C).</td>
                                  <td>18 years.</td>
                                  <td> One (1) passenger.</td>
                                  <td>Previous one (1) year riding experience for category A2. Required to undergo training and retesting for category A3</td>
                                </tr>
                                <tr>
                                  <th scope="row">Category A3(Motorcycle Taxi,Couriers and Three Wheelers)</th>
                                  <td>100 C.C. and above.</td>
                                  <td>100 kg(for up to 50 C.C).</td>
                                  <td>21 years.</td>
                                 <td> One (1) passenger.</td>
                                  <td>Previous one (1) year riding experience for category A2. Required to undergo training and retesting for category A3</td>
                                </tr>
                                <tr>
                                  <th scope="row">Category B (Light Vehicle)</th>
                                  <td>Light vehicle (passenger car)</td>
                                  <td>GVW of maximum kg with one light trailer (not exceeding 750 kg).</td>
                                  <td>18 years.</td>
                                  <td>Not more than seven passengers.</td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <th scope="row">Category B Automatic (Light Vehicle Automatic)</th>
                                  <td>Light vehicle (passenger car) Equipped with automatic gearbox.</td>
                                  <td>GVW of maximum 3,500 kg with one light trailer (not exceeding 750 kg).</td>
                                  <td>18 years.</td>
                                  <td>Not more than seven passengers.</td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <th scope="row">Category B (Professional)</th>
                                  <td>Light vehicle (passenger car) Equipped with manual or automatic gearbox</td>
                                  <td>GVW of maximum 3,500 kg with one light trailer (not exceeding 750 kg).</td>
                                  <td>21 years.</td>
                                  <td>Not more than seven passengers.</td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <th scope="row">Category C (Light Truck)</th>
                                  <td>Light truck</td>
                                  <td>GVW exceeding 3,500 kg and a maximum 7,500 kg with maximum one light trailer ( not exceeding 750 kg).</td>
                                  <td>22 years</td>
                                  <td></td>
                                  <td>Previous two (2) years driving experience for category C1. - Required to undergo training and retesting for category C.</td>
                                </tr>
                                <tr>
                                  <th scope="row">Category C (Medium Truck)</th>
                                  <td></td>
                                  <td>Heavy truck with a GVW exceeding 7, 500 kg with maximum one light trailer ( not exceeding 750 kg).</td>
                                  <td>24 years.</td>
                                  <td></td>
                                  <td>Previous two (2) years driving experience for category C1. - Required to undergo training and retesting for category C.</td>
                                </tr>
                                <tr>
                                  <th scope="row">Category CE (Heavy Truck with trailer)</th>
                                  <td></td>
                                  <td>Heavy truck with a Gross Vehicle Weight (GVW) exceeding 7, 500 kg with heavy trailer or semitrailer.
                                      <br>- Articulated vehicles </td>
                                  <td>28 years.</td>
                                  <td></td>
                                  <td>Previous four (4) years driving experience for category C <br>- Required to undergo training and retesting for category CE</td>
                                </tr>
                                <tr>
                                  <th scope="row"> Category CD(Heavy Goods Vehicle for Transportation of Hazardous Materials)</th>
                                  <td></td>
                                  <td>Heavy truck with a Gross Vehicle Weight (GVW) exceeding 7, 500 kg with heavy trailer or semitrailer.- Articulated vehicles</td>
                                  <td>30 years.</td>
                                  <td></td>
                                  <td>Previous two (2) years driving experience for category CE <br/> - Required to undergo training and retesting for category CD</td>
                                </tr>
                                <tr>
                                  <th scope="row">Category D1 (Van)</th>
                                  <td>Van</td>
                                  <td></td>
                                  <td>22 years</td>
                                  <td>Maximum 14 passengers</td>
                                  <td> Minimum three (3) years driving experience for category D1. Required to undergo training and retesting for category D2.</td>
                                </tr>
                                <tr>
                                  <th scope="row">Category D2(Mini Bus)</th>
                                  <td>Mini Bus</td>
                                  <td></td>
                                  <td>25 years</td>
                                  <td>Between 14 and 32 passengers</td>
                                  <td> Minimum three (3) years driving experience for category D1. Required to undergo training and retesting for category D2.</td>
                                </tr>
                                <tr>
                                  <th scope="row">Category D3 (Large Bus)</th>
                                  <td>Large Bus</td>
                                  <td></td>
                                  <td>30 years</td>
                                  <td>33 passengers and above</td>
                                  <td> Minimum three (3) years driving experience for category D2.<br/>- Required to undergo training and retesting for category D3</td>
                                </tr>
                                <tr>
                                  <th scope="row">CATEGORY E (SPECIAL PROFESSIONAL DRIVERS’ LICENCE)</th>
                                  <td>SPECIAL PROFESSIONAL DRIVERS’ LICENCE</td>
                                  <td></td>
                                  <td>28 years.</td>
                                  <td></td>
                                  <td>Completed three (3) months driving practice with any vehicle classified under categories C1, C, CE, D, D1, D2,D3 and licenced as EC1, EC, ECE, ED, ED1, ED2 ECD, respectively.<br> -Class ED2 licences shall be endorsed for classes D1 & D while Class ECE licences shall be endorsed for C & C1.</td>
                                </tr>
                                <tr>
                                  <th scope="row">F (SPECIAL DRIVER’S LICENCE FOR PERSONS WITH DISABILITY)</th>
                                  <td>SPECIAL DRIVER’S LICENCE FOR PERSONS WITH DISABILITY</td>
                                  <td>Depending on the class of the vehicle the PWD is trained on, it is further classified as follows: categories A1, A2, A3, B, C1, C, CE, CD, D1, D2, D3 and Licenced as Fa1, Fa2, Fa3, FB, FC1, FC, FCE, FCD, FD1, Fd2, FD3 respectively.</td>
                                  <td>18 years</td>
                                  <td></td>
                                  <td> Requirements are as per the categories of abled drivers. –The PWD will undergo the normal ordinary training, testing and licensing for the category chosen by the individual upon medical assessment and appropriate adaptation of the vehicle 11</td>
                                </tr>
                                <tr>
                                  <th scope="row">CATEGORY G (INDUSTRIAL, CONSTRUCTION AND AGRICULTURAL PLANTS & EQUIPMENT)</th>
                                  <td>INDUSTRIAL, CONSTRUCTION AND AGRICULTURAL PLANTS & EQUIPMENT</td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td> Requirements are as per the categories of abled drivers. –The PWD will undergo the normal ordinary training, testing and licensing for the category chosen by the individual upon medical assessment and appropriate adaptation of the vehicle 11</td>
                                </tr>

                              </tbody>
                          </table>
                     </div>
                 </div>
             </div>
            <div class="collapse" id="idp">
              <div class="card card-body">
                  <p>Welcome to our website, where we empower your global mobility with comprehensive information on International Driving. Whether you're a seasoned traveler, an expatriate, or simply planning an international road trip, we provide valuable insights into obtaining and using International Driving Permits (IDPs). Discover the convenience and freedom of driving in foreign countries, ensuring a seamless and compliant experience on the roads worldwide. Explore our resources, guides, and tips to navigate the diverse driving regulations and requirements across borders. Wherever your journey takes you, drive confidently with our International Driving expertise at your fingertips</p>
                  <p>Obtaining an international driving permit (IDP) allows individuals to drive in foreign countries without further testing or applications. Here's some information on international driving and the process of acquiring an IDP:</p>
                        <h2>International Driving Permit (IDP):</h2>
                        <h3>What is an IDP?</h3>
                        <p>An International Driving Permit (IDP) is a document that translates your native driver's license into multiple languages. It serves as proof that you hold a valid driver's license in your home country.</p>

                        <h3>Where is it Valid?</h3>
                        <p>An IDP is generally recognized in many countries worldwide, often in conjunction with your original driver's license. It's essential to check the specific requirements of the country you plan to visit, as some may accept the IDP alone, while others may require it in addition to your regular license.</p>

                        <h2>How to Obtain an IDP:</h2>
                        <h3>Eligibility:</h3>
                        <p>You must have a valid driver's license issued by your home country.</p>
                        <p>You should be of a legal driving age in your home country.</p>
                        <h3>Application:</h3>
                        <p>Apply for an IDP through the appropriate authorities in your home country. In many cases, this is the same agency that issues regular driver's licenses.</p>
                        <h3>Documentation:</h3>
                        <p>Typically, you'll need to provide a completed application form, passport-sized photos, a copy of your driver's license, and the required fee.</p>
                        <h3>Verification:</h3>
                        <p>Your application and documents will be verified, and if approved, the IDP will be issued.</p>
                        <h3>Validity:</h3>
                        <p>IDPs are usually valid for one year from the date of issue.</p>
                        <h2>Tips for International Driving:</h2>
                        <h3>Research Driving Regulations:</h3>
                        <p>Familiarize yourself with the driving regulations of the country you're visiting. Rules may vary, such as driving on the left or right side of the road.</p>
                        <h3>Carry Both Licenses:</h3>
                        <p>Always carry both your original driver's license and the IDP while driving internationally.</p>
                        <h3>Check Rental Car Requirements:</h3>
                        <p>If renting a car, check whether the rental agency requires an IDP.</p>
                        <h3>Language Considerations:</h3>
                        <p> The IDP includes translations in multiple languages, which can be helpful when communicating with local authorities. Before planning international travel, it's advisable to contact the relevant authorities in your home country to ensure you have the most up-to-date information on obtaining an IDP and any additional requirements for driving in specific countries</p>
                 </div>
            </div>
            <div class="collapse" id="highway">
              <div class="card card-body">
                  <p>Welcome to Expert Yomo Driving School's Highway Driving Lesson! Our specialized highway driving course is designed to equip you with the skills and confidence needed to navigate highways safely and efficiently. Here's what you can expect from this comprehensive lesson:</p>

                   <h3> 1. Mastering Highway Basics:</h3>
                    <p>Learn the fundamentals of merging onto highways and exiting safely.
                    Understand the importance of maintaining a consistent speed and following the flow of traffic.</p>
                    <h3>2. Lane Discipline:</h3>
                    <p>Gain insights into proper lane usage and etiquette on multi-lane highways.
                    Understand when and how to change lanes safely, including the importance of signaling.</p>
                    <h3>  3. Highway Interactions:</h3>
                   <p> Explore techniques for sharing the road with larger vehicles such as trucks and buses.
                    Understand the dynamics of highway traffic and how to anticipate and react to different driving scenarios.</p>
                   <h3> 4. Defensive Driving on Highways:</h3>
                   <p>Acquire defensive driving strategies tailored for highway environments.
                    Learn how to stay vigilant, anticipate potential hazards, and maintain a safe following distance.
                    </p>
                  . <h3>5. Highway Speed Management:</h3>
                    <p>Understand the nuances of managing speeds on highways, including adjusting for different driving conditions.
                    Explore the importance of maintaining a safe and consistent speed within the flow of traffic.</p>
                    <h3>6. Emergency Situations:</h3>
                    <p>Receive guidance on how to handle unexpected situations on highways, such as sudden braking, tire blowouts, or adverse weather conditions.</p>
                    <h3>7. Highway Courtesy and Etiquette:</h3>
                    <p>Emphasize the importance of courteous and cooperative driving behavior on highways.
                    Learn how to navigate complex highway interchanges and intersections confidently.</p>
                    <h3>8. Real-World Application:</h3>
                    <p>Engage in practical, on-the-road exercises with experienced instructors.
                    Apply the skills learned in real-world highway driving scenarios.</p>
                    <h4>Our Highway Driving Lesson goes beyond the basics, providing you with the tools to become a confident and responsible highway driver. Join us on this journey to mastering the art of highway driving for a safer and more enjoyable driving experience. Safe travels await!</h4>
              </div>
            </div>

        </div>
    </div>
    <!-- Courses End -->
{% endblock %}